.available-markets {
    display: flex; /* or inline-flex */
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .chart { 
        display: flex; /* or inline-flex */
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;


  }